<div class="panel panel-default">

    <div class="panel-heading">
        <h1>{{contact.name}}</h1>
        <img src="{{contact.imageUrl}}" alt="picture of {{contact.name}}" class="img-fluid" style="max-height: 100px;">
        <div class="pull-right">
            <a class="btn btn-primary btn-sm" 
                style="margin-right: 5px"
                [routerLink]="['/contacts', contact.id, 'edit']"
                >Edit</a>
            <a class="btn btn-danger btn-sm" (click)="onDelete()">Delete</a>
        </div>
    </div>
    <div class="panel-body clearfix">
        <p><b>Email: </b>
            <span>{{ contact.email }}</span>
        </p>
        <p><b>Phone: </b>
            <span>{{ contact.phone }}</span>
        </p>
    </div>

</div>